@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Taviraj:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:text-red-500;
  }
  .inputWidth {
    @apply w-[150px]  md:w-[310px];
  }
}
